<!-- include header -->
<div ng-include="'partials/header.html'"></div>

<!-- backButton -->
<div class="row spacing">
    <div class="col-md-12">
        <button class="btn btn-default" back-button="" i18n="">Back</button>
    </div>
</div>

<!-- article -->
<div class="row">
    <div class="col-md-12">
        <h3 i18n="">{{title}}</h3>
        <div ng-repeat="article in [article]">
            <div class="jumbotron">
                <div>
                    <div class="block">
                        <p class="right">{{article.date | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="text" transform-markdown="{{article.file}}" css-markdown="{{cssMarkdown}}">
                        <div class="row text-center"><span class="glyphicon glyphicon-refresh spin"></span></div>
                    </div>
                    <!-- shareButtons -->
                    <p class="shareButtons" share-buttons="" title="{{article.title}}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Disqus -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" disqus="" ajax-app="true" shortname="{{disqusShortname}}" identifier="{{article.id}}" title="{{article.title}}">
        </div>
    </div>
</div>

<!-- scrollTopButton -->
<div class="row spacing">
    <div class="col-md-12">
        <button class="btn btn-default" scroll-top-button="" i18n="">Top</button>
    </div>
</div>

<!-- include footer -->
<div ng-include="'partials/footer.html'"></div>